

h1 {
  color: DarkSeaGreen;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  background-image: url("https://media.istockphoto.com/id/828090242/photo/vegetables.jpg?s=2048x2048&w=is&k=20&c=8R4D0YDh2ls9FsxB5fcytsnYxpadw8Xo7i-3Y6Nxoo0=");
  font-size: 50px;
}

h2 {
  color: Black;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 80px;
}




h3 {
  color: Black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-size: 30px;
  
}

p {
  color: Black;
  text-align: center;
  font-family: "Georgia", serif;
  fon-size: 10px;
}


  
 h4 {
  color: Black;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 30px;" 
}

p {
  color: Black;
  text-align: center;
  font-family: "Georgia", serif;
  fon-size: 10px;
}









