h1 {
  color: LightBlue;
  text-align: center;
  font-family: Brush Script MT (cursive)
  
}

<body> 

  
p1 {
  "color: PowderBlue;
  font-family: Courier New, mmonospace; font-size: 50px;" 

</body>






  h1 {
  color: #fe218b;
  text-align: center;
  font-family: "Garamond", serif;
  font-size: 60px;
  background: linear-gradient(90, #fed700, #21b0fe);
